#Topic {
  margin: 0 20px 100px;

  .content-div {
    display: flex;
    

    .text-div {
      height: 500px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
      width: 100%;
      margin: 0 0 0 50px;
      color: #041827;

      .title-div {
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;
        gap: 10px;
        margin-bottom: 10px;
        color: #155484;

        .title {
          font-size: 30px;
          font-weight: 600;
      
        }

        .year {
          font-size: 18px;
          margin-bottom: 3px;
        }

      }

      .partner-div {
        margin-bottom: 20px;

        .partner {
          font-size: 14px;
          color: #155484;
          background-color: #e8ecf3;
          padding: 4px 12px;
          margin-right: 10px;
          border-radius: 20px;
        }
      }

      .text {
        text-align: justify;
        // \n斷行
        white-space: pre-line;
        margin-bottom: 40px;
      }

      .link {
        text-decoration: none;
        color: #155484;
        background-color: #e7eef2;
        border-radius: 0 0 0 0;
        border-top: 1px solid #e7eef2;
        border-bottom: 1px solid #e7eef2;
        transition: background-color 0.3s ease, border-bottom 0.3s ease, border-top 0.3s ease;

        .icon {
          margin-right: 10px;
        }
    
        &:hover {
          border-top: 1px solid #155484;
          border-bottom: 1px solid #155484;
          color: #155484;
          background-color: #DCE5F2;
        }
      }
    }
  }
}

.m_539e827b {
  color: #041827;
  border-color: #e8ecf3;
  transition: border-color 0.3s ease, color 0.3s ease, background-color 0.3s ease;

  &:hover {
    color: #155484;
    background-color: #e8ecf3;
    
    // transition: background-color 0.2s ease;;
  }

  &[data-active] {
    border-color: #155484;
  }
}
