#header {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 100;

  .menu {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    
    .menu_item {
      height: 100%;
      width: 120px;
      list-style: none;
      text-decoration: none;
      text-align: center;
      line-height: 80px;
      font-size: 16px;
      font-weight: bold;
      position: relative;
      transition: background-color 0.4s ease, color 0.4s ease;

      
      &:hover {
      background-color: #DCE5F2;
      color: #155484;
      }
    }

  }
  
}

.mantine-Menu-item {
  background-color: #fff;
  color: #155484; 
  transition: background-color 0.4s ease, color 0.4s ease;

  &[data-hovered]{
    color: #155484;
    background-color: #DCE5F2;
  }
}