#partner-div {
  display: flex;
  flex-wrap: wrap;

  .name-div {
    font-size: 14px;
    color: #155484;
    background-color: #e7eef2;
    border-radius: 20px;
    padding: 5px 15px;
    margin-right: 10px;
  }
}

#topic_div {
  display: flex;
  width: 100%;

  .content_div {
    width: 100%;

    .text {
      // *\n斷行
      white-space: pre-line;
    }
  }
}

