#Activity {
    margin: 0 20px 100px;

    text-align: center;
    .title {
        text-align: start;
        margin-top: 10px;
        margin-bottom: 50px;
    }
    .photoDiv {
        width: calc((100% - 80px) / 4);
        height: 350px;
        margin: 10px;
    }
}